/* .about-img {
    border-radius: 50%;
    border: 8px solid rgb(64, 146, 44);
} */

@media (max-width: 576px) {
    .about-item {
        text-align: center;
    }

    .about-img {
        width: 50%;
        height: 50%;
        border: 0;
        margin: auto;
    }
}